<h1>Created by day</h1>
<table class="table table-bordered">
  <tr>
    <th>date  </th>
    <th>count  </th>
  </tr>

  <tr>
    <% @listings.each do |date, aptos| %>
    <td> <%= date %></td>
    <td >
      <%= aptos.size.to_s %>

    </td>
  </tr>
  <% end %>
</table>
