.container {
  width: 100%;
}
.page-header a.new-listing {
  float:none;
}
.page-header{
  margin:10px 0;
}

.ranking_1, .ranking_2 {
  background-color: rgba(0, 0, 0, 0.29);
}

.ranking_3, .ranking_4 {
  background-color: rgba(255, 174, 0, 1);
}
.ranking_5, .ranking_6{
  background-color: rgba(65, 255, 0, 0.6);
}

.ranking_7, .ranking_8, .ranking_9, .ranking_10{
  background-color: rgba(127, 0, 255, 0.6);
}

.datatable {
  width:1300px;
}

.blank_row {
    height: 20px !important; /* Overwrite any previous rules */
    background-color: grey;
}


